*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/.idea/
app/gradle/
app/gradlew
app/gradlew.bat
app/local.properties

# Log Files
*.log
*.diff
